.btn-main {
    background-color: #A2D6C4;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
}

    .btn-main:hover {
        background-color: #61a38c;
        text-decoration: none;
        color: white; 
    }

.btn-info {
    background-color: #94B5AE;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;

}

    .btn-info:hover {
        background-color: #7A9E96;
        text-decoration: none;
        color: white;
    }

.btn-edit {
    background-color: #4F9981;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
}

    .btn-edit:hover {
        background-color: #3C7C6A;
        text-decoration: none;
        color: white;
    }

.btn-delete {
    background-color: #D96C6C;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
}

    .btn-delete:hover {
        background-color: #B55555;
        text-decoration: none;
        color: white;
    }

.invoice-table {
    width: 100%;
    border-collapse: collapse;
}

    .invoice-table th,
    .invoice-table td {
        text-align: center;
        vertical-align: middle;
        padding: 8px;
        border: 1px solid #dee2e6;
    }

    .invoice-table .col-lp {
        width: 50px;
    }

    .invoice-table .col-name {
        width: 500px;
    }

    .invoice-table .col-unit {
        width: 80px;
    }

    .invoice-table .col-qty {
        width: 80px;
    }

    .invoice-table .col-netto {
        width: 120px;
    }

    .invoice-table .col-vat {
        width: 80px;
    }

    .invoice-table .col-brutto {
        width: 120px;
    }

.select-match-input {
    height: calc(2.25rem + 2px); 
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

    .select-match-input:focus {
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(13,110,253,.25);
    }
