@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Resetuj klucz uwierzytelniający";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Jeśli zresetujesz klucz uwierzytelniający, Twoja aplikacja uwierzytelniająca przestanie działać, dopóki jej ponownie nie skonfigurujesz.</strong>
    </p>
    <p>
        Ten proces wyłączy 2FA, dopóki nie zweryfikujesz aplikacji uwierzytelniającej.
        Jeśli nie dokończysz konfiguracji, możesz utracić dostęp do konta.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Resetuj klucz uwierzytelniający</button>
    </form>
</div>
